# 이전까지 한 일들
- KOBIS에서 제공되지 않는 필요한 정보들을 크롤링 해서 final_df 데이터프레임 만듬
- 영화가 다른 원작을 기반으로 한 것인지에 대한 여부를 조사해서 데이터프레임으로 만듬 -> 추후 concat해서 통합할 예정

In [614]:
# total_movie_data

In [615]:
 actor_power_data_02.tail(1)

,영화명,개봉일,매출액,매출액점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,...,배급사,등급,장르,감독,배우,main_actors,개봉일_int,director_involved,actor_involved,전국관객수
10874,히어로 일본 대침공,2019-09-11,1000,0.0,1000,1,1,1,1,일본,...,(주)제이앤씨미디어그룹,15세이상관람가,"액션,SF",사토 신스케,"사토 타케루,키나시 노리타케",NaN,2019,True,False,1

In [604]:
# total_title_list = list(total_movie_data['영화명'])

# def push_audience(title):
    
#     for i, each_title in enumerate(total_title_list):
#         if title == each_title:
#             return total_movie_data.iloc[i]['전국관객수']
    
# actor_power_data_02['전국관객수'] = actor_power_data_02['영화명'].apply(push_audience)

In [608]:
# actor_power_data_02.head()

In [609]:
# actor_power_data_02.to_csv('actor_power_data_02.csv', mode='w')

# final_df와 대조하게 될 KOBIS 데이터프레임 전처리 1
- 기간별 데이터(약 23000개)에 main_actor(주연배우)추가
- 기간별 데이터(약 23000개)에서 월별 KOBIS데이터(약 10000개)와 일치하는 데이터프레임만 추출
- 추출한 데이터(10875개)에서 개봉일이 누락된 부분을 월별데이터에서 가져와서 채워넣기
- 개봉일 비교 쉽게 하기위해 '개봉일_int' 칼럼 추가

In [30]:
import re
import string

In [7]:
# final_df = pd.read_csv('final_df.csv').drop(columns=['Unnamed: 0'])

In [12]:
# total_movie_data = pd.read_csv('total_movie_data.csv')

In [184]:
# actor_power_data = pd.read_csv('actor_power_data.csv')

In [369]:
# final_df.head(1)

In [370]:
# total_movie_data.head(1)

In [359]:
# actor_power_data.head()

In [360]:
# len(actor_power_data)

In [361]:
# len(actor_power_data)

In [363]:
# title_list = list(total_movie_data['영화명'])
# len(title_list)

In [364]:
# actor_power_data['same_title'] = actor_power_data['영화명'].apply(lambda title : True if title in title_list else False)

In [365]:
# actor_power_data_02 = actor_power_data[actor_power_data['same_title'] == True]

In [366]:
# len(actor_power_data_02)

In [328]:
# actor_power_data_02 = actor_power_data_02.reset_index().drop(columns=['index', 'same_title'])

In [329]:
# actor_power_data_02.to_csv('actor_power_data_02.csv', mode='w')

In [211]:
# actor_power_data_02['same_title'] = actor_power_data_02['영화명'].apply(lambda title : True if title in title_list else False)

In [372]:
# actor_power_data_02.tail(10)

In [374]:
# len(actor_power_data_02)

In [333]:
# type(actor_power_data_02['감독'][10862]) == type(float('nan'))

In [348]:
# total_m_list = list(total_movie_data['영화명'])
# total_m_list

In [349]:
# def fnc(title):
#     for i, m_title in enumerate(total_m_list):
#         if title == m_title:
#             return total_movie_data.iloc[i]['개봉일']

In [350]:
# actor_power_data_02['개봉일'] = actor_power_data_02['영화명'].apply(fnc)

In [356]:
# actor_power_data_02.to_csv('actor_power_data_02.csv', mode='w')

In [228]:
# type(list(final_df['감독'])[920]) == type('str')

In [229]:
# def check_direc(directors):
#     if type(directors) == type('str'):
#         if len(directors.split(',')) > 1 :
#             return True
#         else:
#             return False
        
#     return False

In [134]:
# final_df

In [181]:
# final_df.to_csv('final_df_02.csv', mode='w')
# total_movie_data.to_csv('total_movie_data_02.csv', mode='w')

In [161]:
# final_df['개봉일_int'] = final_df['개봉일'].apply(lambda date : int(date[:4]))

In [169]:
# total_movie_data['개봉일_int'] = total_movie_data['개봉일'].apply(lambda date : int(date[:4]))

In [235]:
# len(total_movie_data[total_movie_data['개봉일_int'] > 2018])

In [318]:
# for i, boolean in enumerate(list(final_df['개봉일'].isna())):
#     if boolean == True:
#         print(i)

In [355]:
# for i, boolean in enumerate(list(actor_power_data_02['개봉일'].isna())):
#     if boolean == True:
#         print(actor_power_data_02.iloc[i]['영화명'])

In [357]:
# actor_power_data_02['개봉일_int'] = actor_power_data_02['개봉일'].apply(lambda date : int(date[:4]))

In [358]:
# actor_power_data_02.to_csv('actor_power_data_02.csv', mode='w')

In [109]:
# total_movie_data[total_movie_data['개봉일_int'] > 2012]

# final_df와 대조하게 될 KOBIS 데이터프레임 전처리 2
 - actor_power_data_02에서 final_df에 존재하는 감독들에 대한 영화들만 추출 -> director_compare_df
 - actor_power_data_02에서 final_df에 존재하는 배우들에 대한 영화들만 추출 -> actor_compare_df
 - final_df에서 배우정보가 없는게 있음 -> '-'

## director_compare_df 만들기

In [464]:
actor_power_data_02.head()

In [462]:
final_direc_list = list(final_df['감독'])

In [460]:
final_direc_list

In [426]:
def seperate_direc():
    result = []
    for names in final_direc_list:
        if type(names) == type(float('nan')):
            result.append(names)
        else:
            for name in names.split(','):
                result.append(name)
    return result

In [427]:
final_direc_list = seperate_direc()

In [461]:
final_direc_list

In [439]:
def direc_check_func(names):
    if type(names) == type(float('nan')):
        return False
    
    for name in names.split(','):
        if name in final_direc_list:
            return True
        else:
            return False

In [440]:
actor_power_data_02['director_involved'] = actor_power_data_02['감독'].apply(direc_check_func)

In [397]:
sorted_df = actor_power_data_02[actor_power_data_02['same_direc'] == True]

In [429]:
final_df.head(2)

In [430]:
final_df['starring_actors']

In [437]:
actor_power_data_02.drop(columns=['same_direc'], inplace=True)

In [447]:
director_compare_df = actor_power_data_02[actor_power_data_02['director_involved'] == True]

In [496]:
director_compare_df.to_csv('director_compare_df.csv', mode='w')

## actor_compare_df 만들기

In [ ]:
final_df['starring_actors'][1].split(',')

[re.sub('[(].+[)]', '', x).strip() for x in final_df['starring_actors'][i].split(',')]

In [471]:
final_actor_list = list(final_df['starring_actors'])
len(final_actor_list)

928

In [468]:
result = []
for i in range(0, len(final_actor_list)):
    for name in [re.sub('[(].+[)]', '', x).strip() for x in final_df['starring_actors'][i].split(',')]:
        result.append(name)

In [486]:
len(result)

In [500]:
final_actor_list = np.unique(result)

In [501]:
len(final_actor_list)

1357

In [502]:
def actor_check_func(names):
    if type(names) == type(float('nan')):
        return False
    
    for name in names.split(','):
        if name in final_actor_list:
            return True
        else:
            return False

In [503]:
# actor_power_data_02['actor_involved'] = actor_power_data_02['main_actors'].apply(actor_check_func)

In [504]:
# actor_compare_df = actor_power_data_02[actor_power_data_02['actor_involved'] == True]

In [511]:
# actor_compare_df.to_csv('actor_compare_df.csv', mode='w')

In [514]:
# actor_power_data_02.to_csv('actor_power_data_02.csv', mode='w')

In [710]:
final_df[10:20]

,id,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,...,등급,영화구분,expert_rating,starring_actors,running_times,audience_rating,rating_audiences,개봉일_int,director_power,director_moive_num
10,10,스파이,폴 페이그,NaN,이십세기폭스코리아(주),이십세기폭스코리아(주),2015-05-21,개봉영화,장편,미국,...,15세이상관람가,일반영화,7.32,"멜리사 맥카시, 주드 로, 제이슨 스타뎀",120분,8.889208633093526,695,2015,2023958.0,4 [4]
11,11,강남 1970,유하,"(주)모베라픽처스,(주)쇼박스",NaN,(주)쇼박스,2015-01-21,개봉영화,장편,한국,...,청소년관람불가,일반영화,5.84,"이민호(종대), 김래원(용기), 정진영(길수)",135분,8.053080568720379,1055,2015,3804726.0,1 [1]
12,12,악의 연대기,백운학,(주)비에이엔터테인먼트,NaN,씨제이이앤엠(주),2015-05-14,개봉영화,장편,한국,...,15세이상관람가,일반영화,5.81,"손현주(최반장(최창식)), 마동석(오형사), 최다니엘(김진규)",102분,8.42809364548495,598,2015,2191793.0,1 [1]
13,13,오늘의 연애,박진표,(주)팝콘에프앤엠,NaN,씨제이이앤엠(주),2015-01-14,개봉영화,장편,한국,...,15세이상관람가,일반영화,4.00,"이승기(준수), 문채원(현우), 이서진(동진)",118분,8.06051437216339,661,2015,1891993.0,1 [1]
14,14,연평해전,김학순,(주)로제타시네마,NaN,(주)넥스트엔터테인먼트월드(NEW),2015-06-24,개봉영화,장편,한국,...,12세이상관람가,일반영화,4.94,"김무열(윤영하), 진구(한상국), 이현우(박동혁)",130분,9.344880677444188,1299,2015,1872677.0,1 [1]
15,15,테이큰 3,올리비에 메가턴,NaN,이십세기폭스코리아(주),이십세기폭스코리아(주),2015-01-01,개봉영화,장편,미국,...,15세이상관람가,일반영화,3.88,"리암 니슨(브라이언 밀스), 팜케 얀센(레니), 매기 그레이스(킴)",112분,8.095959595959595,990,2015,4169530.0,1 [1]
16,16,이미테이션 게임,모튼 틸덤,NaN,(주)미디어로그,메가박스중앙(주)플러스엠,2015-02-17,개봉영화,장편,영국,...,15세이상관람가,일반영화,7.25,"베네딕트 컴버배치(앨런 튜링), 키이라 나이틀리(조안 클라크), 매튜 구드(휴 알렉산더)",114분,8.72682119205298,604,2015,3487587.0,2 [2]
17,17,샌 안드레아스,브래드 페이튼,NaN,워너브러더스 코리아(주),워너브러더스 코리아(주),2015-06-03,개봉영화,장편,미국,...,12세이상관람가,일반영화,4.90,"드웨인 존슨(레이몬드 게인즈), 알렉산드라 다드다리오(블레이크 게인즈), 칼라 구기...",114분,8.426070038910506,514,2015,5977451.0,2 [2]
18,18,쎄시봉,김현석,"유한회사 제이필름,(주)무브픽쳐스",NaN,씨제이이앤엠(주),2015-02-05,개봉영화,장편,한국,...,15세이상관람가,일반영화,6.11,"정우(젊은 오근태), 김윤석(오근태), 한효주(젊은 민자영)",122분,8.43424317617866,403,2015,7565055.0,2 [2]
19,19,위플래쉬,데이미언 셔젤,NaN,(주)에이든컴퍼니,(주)쇼박스,2015-03-12,개봉영화,장편,미국,...,15세이상관람가,독립/예술영화,8.44,"마일즈 텔러(앤드류), J.K. 시몬스(플렛처)",106분,9.083129584352077,409,2015,10113218.0,3 [3]

In [703]:
final_df[['audience_rating', 'rating_audiences']].to_csv('edit.csv')

In [704]:
final_df.iloc[168]

id                                                                 168
영화명                                                                맥베스
감독                                                              저스틴 커젤
제작사                                                                NaN
수입사                                                            판씨네마(주)
배급사                                                            판씨네마(주)
개봉일                                                         2015-12-03
영화유형                                                              개봉영화
영화형태                                                                장편
국적                                                                  영국
전국스크린수                                                             141
전국매출액                                                        711589153
전국관객수                                                            93534
서울매출액                                                        367176753
서울관객수                                                            46313
장르                                                                 드라마
등급                                                            15세이상관람가
영화구분                                                           독립/예술영화
expert_rating                                                        -
starring_actors       젤리코 루치치(맥베스), 안나 네트렙코(레이디 맥베스), 일데브란도 다르칸젤로(뱅쿠오)
running_times                                                     181분
audience_rating                                                      -
rating_audiences                                                     -
개봉일_int                                                           2015
director_power                                                  355913
director_moive_num                                               2 [2]
Name: 168, dtype: object

## 동명이인 구분 처리하기
- final_df 구분 처리
    - 288  터널  김성훈B  2016-08-10 
    - 377  공조  김성훈A  2017-01-18 
    - 675  창궐  김성훈A  2018-10-25
    
- director_compare_df 구분 처리
    - 462        네모난원  김성훈C  2012-12-06
    - 737   마이 리틀 히어로  김성훈A  2013-01-09
    - 1593     끝까지 간다  김성훈B  2014-05-29
    - 4586         터널  김성훈B  2016-08-10
    - 5407         공조  김성훈A  2017-01-18
    - 7996         창궐  김성훈A  2018-10-25
- actor_compare_df 구분 처리

In [533]:
# director_compare_df = director_compare_df.reset_index().drop(columns=['index'])

In [563]:
# final_df.to_csv('final_df_sep_d.csv', mode='w')

In [539]:
# director_compare_df.to_csv('director_compare_df_sep_d.csv', mode='w')

In [543]:
# final_df[final_df['감독'] == '김성훈']

In [544]:
# director_compare_df[director_compare_df['감독'] == '김성훈']

In [687]:
# for i, boolean in enumerate(list(final_df['감독'].isna())):
#     if boolean == True:
#         print(i)

In [568]:
# for i, boolean in enumerate(list(director_compare_df['감독'].isna())):
#     if boolean == True:
#         print(i)

In [637]:
# final_df['감독'][925] = '카를로스 구티에레스 메드라노'

In [571]:
# for i, boolean in enumerate(list(final_df['starring_actors'].isna())):
#     if boolean == True:
#         print(i)

In [573]:
# for i, boolean in enumerate(list(actor_compare_df['main_actors'].isna())):
#     if boolean == True:
#         print(i)

In [638]:
# len(actor_compare_df)

In [639]:
# director_compare_df.head(1)

In [635]:
# total_title_list = list(actor_power_data_02['영화명'])

# def push_audience(title):
    
#     for i, each_title in enumerate(total_title_list):
#         if title == each_title:
#             return actor_power_data_02.iloc[i]['전국관객수']

In [636]:
# actor_compare_df['전국관객수'] = actor_compare_df['영화명'].apply(push_audience)

In [634]:
# actor_compare_df.to_csv('actor_compare_df_sep_d.csv', mode='w')

# final_df에 감독/배우 영향력 컬럼 추가
- 데이터프레임 final_df와 director_compare_df, actor_compare_df에서 감독과 배우의 동명이인에 대한 처리가 완료되었다고 보고 진행
- 전처리 완료한 KOBIS 데이터프레임(actor_power_data_02)을 대조하는 데이터프레임으로 사용한다
    - director_func함수 apply시켜서, final_df에 각 영화 row에 대한 감독영향 컬럼 추가
    - actor_func함수 apply시켜서, final_df에 각 영화 row에 대한 배우영향 컬럼 추가
    - 그 감독이 지난 3년간 끌어모은 관객수 / 그 감독이 만든 영화 갯수
    - 그 배우가 지난 3년간 끌어모은 관객수 / 그 배우가 출연한 영화 갯수
- 감독, 배우별 영향력(누적관객수) 저장할 dict 만들기
- 감독별 제작한 영화갯수 dict 만들기
- 배우별 출연한 영화갯수 dict 만들기

In [589]:
# director_power_dict = {}
# actor_power_dict = {}
# director_movies_dict = {}
# actor_movies_dict = {}

In [708]:
# final_df.head(1)

In [707]:
# director_compare_df.head(1)

In [642]:
# 감독에 의한 누적관객수 dict에 모으기

year_list = list(final_df['개봉일_int'])
year_index = 0

def director_func(directors):
    global year_index
    global director_power_dict
    global director_movies_dict
    
    total_audience = 0
    
    # 감독명이 없는경우 그냥 리턴
    if type(directors) == type(float('nan')):
        return
    
    director_list = directors.split(',')
    limit_year = int(year_list[year_index]) - 3
    
    for each_name in director_list:
        stripped_name = each_name.strip()
        
        # 데이터프레임 자르기
        cut_movie_df = director_compare_df[director_compare_df['개봉일_int'] > limit_year - 1]
        cut_movie_df = cut_movie_df[cut_movie_df['개봉일_int'] < int(year_list[year_index]) + 1]
        
        for i in range(0, len(cut_movie_df)):
            cur_row = cut_movie_df.iloc[i]
            
            if type(cur_row['감독']) == type(float('nan')):
                continue
            
            cur_row_directors = [name.strip() for name in cur_row['감독'].split(',')]
            
            if stripped_name in cur_row_directors:
                total_audience += int(cur_row['전국관객수'])
        
        try:
            director_power_dict[stripped_name] += total_audience
            director_movies_dict[stripped_name] += 1
        except Exception:
            director_power_dict[stripped_name] = total_audience
            director_movies_dict[stripped_name] = 1
    
    year_index += 1

In [643]:
# final_df['감독'].apply(director_func)

0      None
1      None
2      None
3      None
4      None
       ...
923    None
924    None
925    None
926    None
927    None
Name: 감독, Length: 928, dtype: object

In [645]:
# len(director_power_dict)

789

In [648]:
# len(director_movies_dict)

789

In [678]:
# director_movies_dict

In [680]:
# type(final_df.iloc[0]['전국관객수'])

numpy.int64

In [684]:
final_df_rr = pd.read_csv('final_df_sep_d.csv')
final_df_rr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 928 entries, 0 to 927
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        928 non-null    int64
 1   id                928 non-null    int64
 2   영화명               928 non-null    object
 3   감독                926 non-null    object
 4   제작사               348 non-null    object
 5   수입사               585 non-null    object
 6   배급사               927 non-null    object
 7   개봉일               928 non-null    object
 8   영화유형              928 non-null    object
 9   영화형태              928 non-null    object
 10  국적                928 non-null    object
 11  전국스크린수            928 non-null    int64
 12  전국매출액             928 non-null    int64
 13  전국관객수             928 non-null    int64
 14  서울매출액             928 non-null    int64
 15  서울관객수             928 non-null    int64
 16  장르                928 non-null    object
 17  등급                928 non-null    object
 18  영화구분              928 non-null    object
 19  expert_rating     928 non-null    object
 20  starring_actors   928 non-null    object
 21  running_times     928 non-null    object
 22  audience_rating   928 non-null    object
 23  rating_audiences  928 non-null    object
 24  개봉일_int           928 non-null    int64
dtypes: int64(8), object(17)
memory usage: 181.4+ KB

In [668]:
# 감독의 이전 성과(누적 관객수) dict을 이용해서 director_power 칼럼을 final_df에 추가
# 제작영화 총 갯수와 [] 이거를 분리하려면 띄어쓰기로 split하기

def push_direc_power(directors):
    total_audience = 0
    
    # 감독명이 없는경우 null값을 리턴한다
    if type(directors) == type(float('nan')):
        return float('nan')
    
    director_list = directors.split(',')
    
    for each_name in director_list:
        stripped_name = each_name.strip()
        total_audience += director_power_dict[stripped_name]
        
    return total_audience
        

def push_direc_movie_num(directors):
    total_movie = 0
    arr = []
    
    # 감독명이 없는경우 null값을 리턴한다
    if type(directors) == type(float('nan')):
        return float('nan')
    
    director_list = directors.split(',')
    
    for each_name in director_list:
        stripped_name = each_name.strip()
        total_movie += director_movies_dict[stripped_name]
        arr.append(director_movies_dict[stripped_name])
        
    result = str(total_movie) + ' ' + str(arr)
        
    return result

In [651]:
# final_df['director_power'] = final_df['감독'].apply(push_direc_power)

In [669]:
# final_df['director_moive_num'] = final_df['감독'].apply(push_direc_movie_num)

In [675]:
# final_df.to_csv('final_df_03.csv', mode='w')

In [706]:
# final_df['starring_actors'][452]

In [677]:
# final_df[200:204]

In [696]:
final_df.iloc[925]

id                                925
영화명                              빅 위시
감독                    카를로스 구티에레스 메드라노
제작사                               NaN
수입사                       (주)박수엔터테인먼트
배급사                       (주)박수엔터테인먼트
개봉일                        2019-10-30
영화유형                             개봉영화
영화형태                               장편
국적                                멕시코
전국스크린수                            336
전국매출액                       251990300
전국관객수                           32684
서울매출액                        42956220
서울관객수                            5227
장르                                판타지
등급                              전체관람가
영화구분                             일반영화
expert_rating                    6.00
starring_actors           [국내] 전체 관람가
running_times                     79분
audience_rating                   6.5
rating_audiences                    4
개봉일_int                          2019
director_power                      0
director_moive_num              1 [1]
Name: 925, dtype: object

In [587]:
# 배우 성과측정 함수

year_list = list(final_df['개봉일_int'])
year_index = 0

def actor_func(actors):
    global year_index
    global actor_power_dict
    global actor_movies_dict
    
    total_audience = 0
    
    actor_list = actors.split(',')
    actor_list = [re.sub('[(].+[)]', '', each_name) for each_name in actor_list]
    
    limit_year = int(year_list[year_index][:4]) - 3
    
    for each_name in actor_list:
        stripped_name = each_name.strip()
        
        # 데이터프레임 자르기
        cut_movie_df = actor_compare_df[actor_compare_df['개봉일_int'] > limit_year - 1]
        cut_movie_df = cut_movie_df[cut_movie_df['개봉일_int'] < int(year_list[year_index]) + 1]
        
        for i in range(0, len(cut_movie_df)):
            
            cur_row = cut_movie_df.iloc[i]
            cur_row_actors = [name.strip() for name in cur_row['main_actors'].split(',')]
            
            if stripped_name in cur_row_actors:
                total_audience += int(cur_row['전국관객수'])
                
        try:
            actor_power_dict[stripped_name] += total_audience
            actor_movies_dict[stripped_name] += 1
        except Exception:
            actor_power_dict[stripped_name] = total_audience
            actor_movies_dict[stripped_name] = 1
        
    year_index += 1

In [ ]:
# final_df['starring_actors'].apply(actor_func)

In [691]:
len(actor_compare_df)

1671

In [693]:
len(pd.read_csv('actor_compare_df_sep_d.csv'))

1671

In [ ]:
# final_df['actor_power'] = final_df['starring_actors'].apply(actor_func)

## 배우 괄호없애기

In [102]:
a = crawling_df['starring_actors'][1].split(',')
a

['황정민(덕수)', ' 김윤진(영자)', ' 오달수(달구)']

In [104]:
[re.sub('[(].+[)]', '', x).strip() for x in a]

['황정민', '김윤진', '오달수']