In [18]:
import seaborn as sns
import pandas as pd
import matplotlib.pylab as plt
import re
import matplotlib as mpl
from matplotlib import rc
import missingno as msno
import warnings
import datetime
warnings.filterwarnings('ignore')

# matplotlib 한글 사용을 위한 코드
rc('font', family='AppleGothic')

In [36]:
final_df = pd.read_csv('final_df_07.csv').drop(columns='Unnamed: 0')

In [37]:
final_df.head(2)

,title,director,producer,importer,distributor,distributor_group,release_date,release_season,release,form,...,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original,actor_power
0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),B,4/23/2015,spring,개봉영화,장편,...,"로버트 다우니 주니어,크리스 헴스워스,마크 러팔로",141,8.612377,5268,2015,17567536.0,1 [1],1,0,542407997
1,국제시장,윤제균,"(주)제이케이필름,씨제이이앤엠(주)",NaN,씨제이이앤엠(주),A,12/17/2014,winter,개봉영화,장편,...,"황정민,김윤진,오달수",126,9.272091,1143,2014,5334561.0,1 [1],0,0,608444941

In [41]:
final_df.iloc[0]

title                            어벤져스: 에이지 오브 울트론
director                                    조스 웨던
producer                                      NaN
importer                           월트디즈니컴퍼니코리아(주)
distributor                        월트디즈니컴퍼니코리아(주)
distributor_group                               B
release_date                            4/23/2015
release_season                             spring
release                                      개봉영화
form                                           장편
nation                                         미국
screen                                       1843
rev_nationwide                        8.85826e+10
aud_nationwide                           10494499
rev_seoul                             25001906266
rev_seoul.1                               2823388
genre                                          액션
rate                                     12세이상관람가
type                                         일반영화
expert_rating                                6.92
starring_actors       로버트 다우니 주니어,크리스 헴스워스,마크 러팔로
running_times                                 141
audience_rating                           8.61238
rating_audiences                             5268
realease_year                                2015
director_power                        1.75675e+07
director_movie_num                          1 [1]
sequel                                          1
original                                        0
actor_power                             542407997
Name: 0, dtype: object

In [104]:
# final_df.info()

In [42]:
X = final_df.drop(columns=['aud_nationwide'])
y = final_df['aud_nationwide']

In [107]:
final_df = final_df.drop(columns=['producer', 'importer'])

In [112]:
final_df = final_df.dropna()

In [154]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 925 entries, 0 to 927
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               925 non-null    object
 1   director            925 non-null    object
 2   distributor         925 non-null    object
 3   distributor_group   925 non-null    object
 4   release_date        925 non-null    object
 5   release_season      925 non-null    object
 6   release             925 non-null    object
 7   form                925 non-null    object
 8   nation              925 non-null    object
 9   screen              925 non-null    int64
 10  rev_nationwide      925 non-null    float64
 11  aud_nationwide      925 non-null    int64
 12  rev_seoul           925 non-null    int64
 13  rev_seoul.1         925 non-null    int64
 14  genre               925 non-null    object
 15  rate                925 non-null    object
 16  type                925 non-null    object
 17  expert_rating       925 non-null    float64
 18  starring_actors     925 non-null    object
 19  running_times       925 non-null    int64
 20  audience_rating     925 non-null    float64
 21  rating_audiences    925 non-null    int64
 22  realease_year       925 non-null    int64
 23  director_power      925 non-null    float64
 24  director_movie_num  925 non-null    object
 25  sequel              925 non-null    int64
 26  original            925 non-null    int64
 27  actor_power         925 non-null    int64
dtypes: float64(4), int64(10), object(14)
memory usage: 209.6+ KB

In [148]:
len(final_df)

925

In [115]:
final_df.to_csv('final_df_08.csv')

In [122]:
len(final_df.columns)

28

In [118]:
X = final_df.drop(columns='aud_nationwide')
y = final_df['aud_nationwide']

In [131]:
len(X_train)+len(X_test)

925

In [127]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [132]:
X_train.to_csv('X_train_08_1.csv')
y_train.to_csv('y_train_08_1.csv')

In [133]:
X_test.to_csv('X_test_08_1.csv')
y_test.to_csv('y_test_08_1.csv')

#  train 데이터셋으로 회귀분석 시작하기
- X_train, y_train

In [137]:
X_train.head(1)

,title,director,distributor,distributor_group,release_date,release_season,release,form,nation,screen,...,starring_actors,running_times,audience_rating,rating_audiences,realease_year,director_power,director_movie_num,sequel,original,actor_power
107,인사이드 아웃,피트 닥터,월트디즈니컴퍼니코리아(주),B,7/9/2015,summer,개봉영화,장편,미국,777,...,"에이미 포엘러,필리스 스미스,민디 캘링",102,9.113006,938,2015,4968687.0,1 [1],0,0,14906061

In [138]:
total_df = pd.concat([X_train, y_train], axis=1)

In [157]:
total_df.columns

Index(['title', 'director', 'distributor', 'distributor_group', 'release_date',
       'release_season', 'release', 'form', 'nation', 'screen',
       'rev_nationwide', 'rev_seoul', 'rev_seoul.1', 'genre', 'rate', 'type',
       'expert_rating', 'starring_actors', 'running_times', 'audience_rating',
       'rating_audiences', 'realease_year', 'director_power',
       'director_movie_num', 'sequel', 'original', 'actor_power',
       'aud_nationwide'],
      dtype='object')

In [158]:
X = total_df.drop(columns=['title', 'director', 'distributor', 'release_date', 'release', 'form', 'rev_nationwide', 'rev_seoul', 'rev_seoul.1', 'type', 'starring_actors', 'realease_year', 'director_movie_num', 'aud_nationwide'])
y = total_df['aud_nationwide']

## 변수명 df를 분석용 데이터프레임으로 쓴다
- X_train + y_train

In [164]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [166]:
len(X_train), len(y_train), len(X_test), len(y_test)

(592, 592, 148, 148)

In [169]:
X_train.columns

Index(['distributor_group', 'release_season', 'nation', 'screen', 'genre',
       'rate', 'expert_rating', 'running_times', 'audience_rating',
       'rating_audiences', 'director_power', 'sequel', 'original',
       'actor_power'],
      dtype='object')

In [170]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 592 entries, 276 to 881
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   distributor_group  592 non-null    object
 1   release_season     592 non-null    object
 2   nation             592 non-null    object
 3   screen             592 non-null    int64
 4   genre              592 non-null    object
 5   rate               592 non-null    object
 6   expert_rating      592 non-null    float64
 7   running_times      592 non-null    int64
 8   audience_rating    592 non-null    float64
 9   rating_audiences   592 non-null    int64
 10  director_power     592 non-null    float64
 11  sequel             592 non-null    int64
 12  original           592 non-null    int64
 13  actor_power        592 non-null    int64
dtypes: float64(3), int64(6), object(5)
memory usage: 69.4+ KB

In [100]:
# C(sequel), C(original)

In [171]:
df = pd.concat([X_train, y_train], axis=1)

In [87]:
import statsmodels.api as sm

In [173]:
model = sm.OLS.from_formula("aud_nationwide ~ distributor_group + release_season + nation + genre + rate + C(sequel) + C(original) + screen + expert_rating + audience_rating + running_times + rating_audiences + director_power + actor_power", data=df)
result = model.fit()

In [174]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         aud_nationwide   R-squared:                       0.762
Model:                            OLS   Adj. R-squared:                  0.747
Method:                 Least Squares   F-statistic:                     49.47
Date:                Mon, 30 Mar 2020   Prob (F-statistic):          1.04e-148
Time:                        16:23:46   Log-Likelihood:                -9004.1
No. Observations:                 592   AIC:                         1.808e+04
Df Residuals:                     555   BIC:                         1.824e+04
Df Model:                          36
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                -1.011e+06   5.42e+05     -1.865      0.063   -2.08e+06     5.4e+04
distributor_group[T.B]    -1.33e+05   1.26e+05     -1.054      0.293   -3.81e+05    1.15e+05
distributor_group[T.C]   -2.806e+05   1.55e+05     -1.805      0.072   -5.86e+05    2.48e+04
distributor_group[T.D]    1.517e+05   1.34e+05      1.135      0.257   -1.11e+05    4.14e+05
release_season[T.spring]  -1.62e+05   1.25e+05     -1.292      0.197   -4.08e+05    8.43e+04
release_season[T.summer] -2.896e+04    1.2e+05     -0.242      0.809   -2.64e+05    2.06e+05
release_season[T.winter]  5.764e+04   1.19e+05      0.482      0.630   -1.77e+05    2.92e+05
nation[T.미국]             -1.739e+05   2.08e+05     -0.837      0.403   -5.82e+05    2.34e+05
nation[T.영국]             -1.427e+05   2.77e+05     -0.515      0.607   -6.87e+05    4.01e+05
nation[T.일본]              2.079e+05   2.39e+05      0.868      0.386   -2.62e+05    6.78e+05
nation[T.프랑스]            -4.585e+04   3.42e+05     -0.134      0.893   -7.17e+05    6.26e+05
nation[T.한국]             -4.485e+05   2.16e+05     -2.079      0.038   -8.72e+05   -2.48e+04
genre[T.공포]               2.511e+05   3.66e+05      0.687      0.492   -4.67e+05    9.69e+05
genre[T.다큐멘터리]            9.873e+05   4.36e+05      2.265      0.024    1.31e+05    1.84e+06
genre[T.드라마]              3.526e+05    3.3e+05      1.070      0.285   -2.95e+05       1e+06
genre[T.멜로/로맨스]           3.955e+05   3.87e+05      1.021      0.308   -3.66e+05    1.16e+06
genre[T.미스터리]             7.823e+04   3.87e+05      0.202      0.840   -6.82e+05    8.38e+05
genre[T.범죄]              -2.379e+05   3.62e+05     -0.657      0.511   -9.49e+05    4.73e+05
genre[T.사극]               1.367e+05   4.48e+05      0.305      0.760   -7.43e+05    1.02e+06
genre[T.스릴러]             -4.821e+04   3.66e+05     -0.132      0.895   -7.67e+05    6.71e+05
genre[T.애니메이션]            2.917e+05   3.78e+05      0.772      0.440    -4.5e+05    1.03e+06
genre[T.액션]               2.728e+05   3.22e+05      0.847      0.397    -3.6e+05    9.06e+05
genre[T.어드벤처]             2.668e+05   4.12e+05      0.648      0.517   -5.42e+05    1.08e+06
genre[T.코미디]              6.312e+05   3.53e+05      1.790      0.074   -6.14e+04    1.32e+06
genre[T.판타지]              4.589e+05   4.52e+05      1.016      0.310   -4.28e+05    1.35e+06
rate[T.15세이상관람가]          1.952e+05   1.21e+05      1.608      0.108   -4.32e+04    4.34e+05
rate[T.전체관람가]             4.463e+04   1.94e+05      0.230      0.818   -3.37e+05    4.26e+05
rate[T.청소년관람불가]            2.01e+05   1.61e+05      1.245      0.214   -1.16e+05    5.18e+05
C(sequel)[T.1]              3.2e+04   9.33e+04      0.343      0.732   -1.51e+05    2.15e+05
C(original)[T.1]          -2.74e+05   1.03e+05     -2.648      0.008   -4.77e+05   -7.07e+04
screen                    2736.1701    172.250     15.885      0.000    2397.829    3074.511
expert_rating             4.696e+04   2.49e+04      1.888      0.059   -1887.272    9.58e+04
audience_rating           3.708e+04   3.02e+04      1.228      0.220   -2.22e+04    9.64e+04
running_times            -6880.5291   3114.584     -2.209      0.028    -1.3e+04    -762.716
rating_audiences           405.5176     46.834      8.659      0.000     313.524     497.511
director_power               0.0046      0.004      1.134      0.257      -0.003       0.013
actor_power                  0.0030      0.000      8.226      0.000       0.002       0.004
==============================================================================
Omnibus:                      424.538   Durbin-Watson:                   2.052
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12139.939
Skew:                           2.776   Prob(JB):                         0.00
Kurtosis:                      24.479   Cond. No.                     5.06e+09
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.06e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
# 조건수가 너무 크다. 두가지 경우 예상가능
# 1. 스케일링 안해서 발생하는 문제
# 2. 다중공선성의 문제 -> 상관관계가 큰 독립변수 컬럼이 섞여있다

In [181]:
X_train.describe().loc["std"] # 독립변수 표준편차들의 단위크기가 각 컬럼별로 너무 제각각의 크기를 가지고있음

screen              4.208488e+02
expert_rating       2.019617e+00
running_times       1.960661e+01
audience_rating     1.503609e+00
rating_audiences    1.496466e+03
director_power      1.502832e+07
sequel              4.960602e-01
original            4.528205e-01
actor_power         1.497589e+08
Name: std, dtype: float64

In [179]:
# 카테고리 더미변수는 스케일링 하지 말고, 다른 수치형만 스케일링 한다

In [187]:
feature_names = ['screen', 'expert_rating', 'audience_rating', 'running_times', 'rating_audiences', 'director_power', 'actor_power']
feature_names = ["scale({})".format(name) for name in feature_names] + ['distributor_group', 'release_season', 'nation', 'genre', 'rate', 'C(sequel)', 'C(original)']
model2 = sm.OLS.from_formula("aud_nationwide ~ " + "+".join(feature_names), data=df)
result2 = model2.fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         aud_nationwide   R-squared:                       0.762
Model:                            OLS   Adj. R-squared:                  0.747
Method:                 Least Squares   F-statistic:                     49.47
Date:                Mon, 30 Mar 2020   Prob (F-statistic):          1.04e-148
Time:                        17:11:48   Log-Likelihood:                -9004.1
No. Observations:                 592   AIC:                         1.808e+04
Df Residuals:                     555   BIC:                         1.824e+04
Df Model:                          36
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                  1.04e+06    3.9e+05      2.666      0.008    2.74e+05    1.81e+06
distributor_group[T.B]    -1.33e+05   1.26e+05     -1.054      0.293   -3.81e+05    1.15e+05
distributor_group[T.C]   -2.806e+05   1.55e+05     -1.805      0.072   -5.86e+05    2.48e+04
distributor_group[T.D]    1.517e+05   1.34e+05      1.135      0.257   -1.11e+05    4.14e+05
release_season[T.spring]  -1.62e+05   1.25e+05     -1.292      0.197   -4.08e+05    8.43e+04
release_season[T.summer] -2.896e+04    1.2e+05     -0.242      0.809   -2.64e+05    2.06e+05
release_season[T.winter]  5.764e+04   1.19e+05      0.482      0.630   -1.77e+05    2.92e+05
nation[T.미국]             -1.739e+05   2.08e+05     -0.837      0.403   -5.82e+05    2.34e+05
nation[T.영국]             -1.427e+05   2.77e+05     -0.515      0.607   -6.87e+05    4.01e+05
nation[T.일본]              2.079e+05   2.39e+05      0.868      0.386   -2.62e+05    6.78e+05
nation[T.프랑스]            -4.585e+04   3.42e+05     -0.134      0.893   -7.17e+05    6.26e+05
nation[T.한국]             -4.485e+05   2.16e+05     -2.079      0.038   -8.72e+05   -2.48e+04
genre[T.공포]               2.511e+05   3.66e+05      0.687      0.492   -4.67e+05    9.69e+05
genre[T.다큐멘터리]            9.873e+05   4.36e+05      2.265      0.024    1.31e+05    1.84e+06
genre[T.드라마]              3.526e+05    3.3e+05      1.070      0.285   -2.95e+05       1e+06
genre[T.멜로/로맨스]           3.955e+05   3.87e+05      1.021      0.308   -3.66e+05    1.16e+06
genre[T.미스터리]             7.823e+04   3.87e+05      0.202      0.840   -6.82e+05    8.38e+05
genre[T.범죄]              -2.379e+05   3.62e+05     -0.657      0.511   -9.49e+05    4.73e+05
genre[T.사극]               1.367e+05   4.48e+05      0.305      0.760   -7.43e+05    1.02e+06
genre[T.스릴러]             -4.821e+04   3.66e+05     -0.132      0.895   -7.67e+05    6.71e+05
genre[T.애니메이션]            2.917e+05   3.78e+05      0.772      0.440    -4.5e+05    1.03e+06
genre[T.액션]               2.728e+05   3.22e+05      0.847      0.397    -3.6e+05    9.06e+05
genre[T.어드벤처]             2.668e+05   4.12e+05      0.648      0.517   -5.42e+05    1.08e+06
genre[T.코미디]              6.312e+05   3.53e+05      1.790      0.074   -6.14e+04    1.32e+06
genre[T.판타지]              4.589e+05   4.52e+05      1.016      0.310   -4.28e+05    1.35e+06
rate[T.15세이상관람가]          1.952e+05   1.21e+05      1.608      0.108   -4.32e+04    4.34e+05
rate[T.전체관람가]             4.463e+04   1.94e+05      0.230      0.818   -3.37e+05    4.26e+05
rate[T.청소년관람불가]            2.01e+05   1.61e+05      1.245      0.214   -1.16e+05    5.18e+05
C(sequel)[T.1]              3.2e+04   9.33e+04      0.343      0.732   -1.51e+05    2.15e+05
C(original)[T.1]          -2.74e+05   1.03e+05     -2.648      0.008   -4.77e+05   -7.07e+04
scale(screen)             1.151e+06   7.24e+04     15.885      0.000    1.01e+06    1.29e+06
scale(expert_rating)      9.477e+04   5.02e+04      1.888      0.059   -3808.347    1.93e+05
scale(audience_rating)    5.571e+04   4.54e+04      1.228      0.220   -3.34e+04    1.45e+05
scale(running_times)     -1.348e+05    6.1e+04     -2.209      0.028   -2.55e+05   -1.49e+04
scale(rating_audiences)   6.063e+05      7e+04      8.659      0.000    4.69e+05    7.44e+05
scale(director_power)     6.976e+04   6.15e+04      1.134      0.257   -5.11e+04    1.91e+05
scale(actor_power)        4.531e+05   5.51e+04      8.226      0.000    3.45e+05    5.61e+05
==============================================================================
Omnibus:                      424.538   Durbin-Watson:                   2.052
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            12139.939
Skew:                           2.776   Prob(JB):                         0.00
Kurtosis:                      24.479   Cond. No.                         50.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [196]:
# 카테고리 변수의 기준 상수항 
# distributor_group : A
# release_season : autumn
# nation : 기타
# genre : SF
# rate : 12세이상관람가
# sequel : 0
# original : 0

In [198]:
# 부분회귀 플롯으로 독립변수들이 종속변수에 미치는 순수한 영향력 확인하기

In [ ]:
from