In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pylab as plt
from selenium import webdriver`
import re
import matplotlib as mpl
from matplotlib import rc
import missingno as msno
import warnings
import datetime
from scrapy.http import TextResponse
warnings.filterwarnings('ignore')

# matplotlib 한글 사용을 위한 코드
rc('font', family='AppleGothic')

In [3]:
df = pd.read_csv('final_df_04.csv').drop(columns=['Unnamed: 0'])
df.head(1)

,id,영화명,감독,제작사,수입사,배급사,개봉일,영화유형,영화형태,국적,...,등급,영화구분,expert_rating,starring_actors,running_times,audience_rating,rating_audiences,개봉일_int,director_power,director_movie_num
0,0,어벤져스: 에이지 오브 울트론,조스 웨던,NaN,월트디즈니컴퍼니코리아(주),월트디즈니컴퍼니코리아(주),2015-04-23,개봉영화,장편,미국,...,12세이상관람가,일반영화,6.92,"로버트 다우니 주니어(토니 스타크 / 아이언맨), 크리스 헴스워스(토르), 마크 러...",141,8.193182,88,2015,17567536.0,1 [1]

In [4]:
df.columns

Index(['id', '영화명', '감독', '제작사', '수입사', '배급사', '개봉일', '영화유형', '영화형태', '국적',
       '전국스크린수', '전국매출액', '전국관객수', '서울매출액', '서울관객수', '장르', '등급', '영화구분',
       'expert_rating', 'starring_actors', 'running_times', 'audience_rating',
       'rating_audiences', '개봉일_int', 'director_power', 'director_movie_num'],
      dtype='object')

In [16]:
movie_df = df.drop(columns=['id', '영화명', '감독', '제작사', '수입사', '개봉일', '배급사', '개봉일', 'starring_actors', 'director_movie_num', '영화유형', '영화형태', '국적', '전국매출액', '서울매출액', '서울관객수', '장르', '등급', '영화구분', '개봉일_int'])

In [ ]:
## y = 전국관객수

In [ ]:
## x = expert_rating, rating_audiences, running_times, audience_rating, director_power, 전국스크린수,

In [9]:
y = df['전국관객수']

In [18]:
movie_df.to_csv('final_df_04_01.csv')

# final_df_04.csv를 원본으로 한다
    - 실수형 데이터만 뽑아낸 원본 : final_df_04_01.csv

In [22]:
df = pd.read_csv('final_df_04_01.csv').drop(columns=['Unnamed: 0'])

In [23]:
X = df.drop(['전국관객수'], axis=1)
y = df['전국관객수']

In [34]:
X

,전국스크린수,expert_rating,running_times,audience_rating,rating_audiences,director_power
0,1843,6.92,141,8.193182,88,17567536.0
1,966,5.81,126,8.246201,329,5334561.0
2,706,7.58,128,8.548387,31,17202955.0
3,1290,6.63,125,8.337789,1945,4565911.0
4,811,5.85,125,8.172131,610,10168360.0
...,...,...,...,...,...,...
923,54,6.33,96,9.600000,10,37282.0
924,68,9.11,209,8.870588,85,809305.0
925,336,6.00,79,6.500000,4,0.0
926,174,5.50,109,8.428571,63,31888.0
927,37,5.50,111,8.962963,27,31866.0

In [24]:
from sklearn.model_selection import train_test_split
import numpy as np

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [44]:
# sns.pairplot(X_train)

In [43]:
# sns.pairplot(X_test)

In [47]:
X_train.to_csv('X_train_01.csv')

In [48]:
X_test.to_csv('X_test_01.csv')

In [49]:
y_train.to_csv('y_train_01.csv')

In [50]:
y_test.to_csv('y_test_01.csv')